<div class="slab">
	<div class="row" style="padding-bottom:5px;">
		<div class="col-sm-12">
			<h2>How you picture a <span class="occupation"></span></h2>
			<hr>
			<p>In up to 60 seconds think of as many words as you can to describe how you think of a <span class="occupation"></span>. Add words one at a time and then when you are done hit 'Next'.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6" style="margin-bottom:10px">
			<div class="input-group">
			  <input type="text" class="form-control" placeholder="Enter a word" id="descriptionInput">
			  <span class="input-group-btn">
		        <button class="btn btn-primary" type="button"  onclick="add();">Add</button>
		      </span>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12" >
	    	<div id="labels">
	        	<p><b>Your Words</b></p>
				<p id="nothingMsg" style="color:grey">
				</p>
	    	</div>
		</div>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-sm-12">
	    <button type="button" class="btn btn-primary" onclick="finishedPersonalView();">Next</button>
	</div>
</div>
